@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --background-color: #f7f7f7;
  --primary_gradient: linear-gradient(180deg, rgb(226, 226, 226) 0%, rgb(255, 255, 255) 65%, rgb(150, 150, 150) 100%);
  --matrix_border_radius: 15px;
}

* {
  user-select: none;
  -webkit-user-select: none;
  font-family: Roboto, Arial;
}

.hidden{
  display: none;
}

body {
  margin: 0;
  background: var(--primary_gradient) black no-repeat fixed;
}

/* Nav Bar Styles */
.nav_primary {
  display: flex;
  align-items: center;
  height: 80px;
  margin: 0;
  background: var(--background-color);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
}

.nav_title {
  color: rgb(46, 46, 46);
  font: 300 26px Roboto;
  transition: letter-spacing .3s;
  letter-spacing: 2px;
  width: 340px;
  text-align: left;
  margin-left: 50px;
}

.nav_title:hover {
  letter-spacing: 5px;
}

.nav_buttons_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: .7;
}

.nav_button {
  color: rgb(114, 114, 114);
  background-color: white;
  font: 300 18px Roboto;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid rgb(177, 177, 177);
  margin-right: 20px;
  transition: padding .3s, box-shadow .3s;
  width: auto;
}

.nav_button:hover {
  padding: 10px 45px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15) inset;
  cursor: pointer;
}

.nav_button:active {
  transition: width .3s, box-shadow 0s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0) inset;
  color: rgb(201, 201, 201);
  border-color: rgb(201, 201, 201);
}

/* Notification Styles */
.notif {
  z-index: 200;
  position: fixed;
  right: 4%;
  top: 120px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 13px;
  padding: 30px 25px;
  backdrop-filter: blur(4px);
  font: 300 18px Roboto;
  max-width: 350px;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  transition: opacity 1s ease-in-out;
}

.notif_close {
  position: fixed;
  right: 6px;
  top: 6px;
  font: 400 18px Roboto;
  width: 20px;
  height: 20px;
  background: center/100% url("/images/x.png");
  opacity: 80%;
}

.notif_close:hover {
  opacity: 60%;
}

/* Modal Styles */
.modal_base {
  z-index: 400;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  transition: opacity .1s;
}

.modal {
  display: flex;
  position: fixed;
  right: 10%;
  left: 10%;
  top: 3%;
  bottom: 3%;
  background: var(--primary_gradient) black no-repeat fixed;
  padding: 45px 15px 20px;
  opacity: 100%;
  transition: opacity .3s;
  border-radius: 25px;
  border: 1px solid rgb(177, 177, 177);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.modal_content_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.modal_content_container::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  outline: 1px solid white;
}

.modal_content_container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.modal_content_container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(63, 63, 63, 0.8);
}

.modal_close {
  background: white;
  position: absolute;
  left: calc(100% - 38px);
  top: 7px;
  padding: 3px;
  border-radius: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.modal_close_icon {
  background: center/100% url("/images/x.png");
  opacity: 80%;
  transition: opacity .1s;
  width: 25px;
  height: 25px;
}

.modal_close_icon:hover {
  opacity: 60%;
}

.modal_download {
  position: absolute;
  left: calc(100% - 74px);
  top: 7px;
  background: white;
  border-radius: 100%;
  padding: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.modal_download_icon {
  background: center/80% url("/images/download.png");
  width: 25px;
  height: 25px;
  opacity: 80%;
  outline: 2px solid rgb(32, 32, 32);
  outline-offset: -2px;
  border-radius: 100%;
}

.modal_download_icon:hover {
  opacity: 60%;
}

/* Resume Page */
.resume {
  margin-bottom: 20px;
  min-height: 130vh;
}

/* About Me Page */
.aboutme_profile {
  gap: 50px;
}

.aboutme_name {
  font: 300 30px Roboto;
}

.aboutme_info {
  max-width: 600px;
}

.aboutme_img {
  background: no-repeat center/100% url("/images/placeholder.png") white;
  border-radius: 50px;
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
}

/* Projects Page */
.portfolio {
  background: no-repeat 80% 0%/170% url("/images/portfolio.PNG");
}

.modals {
  background: no-repeat 80% 0%/170% url("/images/portfolio.PNG");
}

/* Physics Simulation */
.physics_container {
  position: relative;
  opacity: 60%;
}

canvas {
  border-radius: 25px;
  border: 1px solid rgb(177, 177, 177);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  margin-top: 80px;
}

.physics_start {
  z-index: 110;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  font: 300 30px Roboto;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  backdrop-filter: blur(5px);
}

.trash_icon {
  z-index: 90;
  background: center/100% url("/images/trash.png") white;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  border: 1px solid rgb(177, 177, 177);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 99px;
  right: 20px;
}

.trash_icon:hover {
  opacity: 88%;
  cursor: pointer;
}

.trash_icon:active {
  opacity: 75%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) inset;
}

.pause_icon {
  z-index: 90;
  background: center/40% url('/images/pause.png') white no-repeat;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  border: 1px solid rgb(177, 177, 177);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 99px;
  right: 100px;
}

.pause_icon:hover {
  opacity: 88%;
  cursor: pointer;
}

.pause_icon:active {
  opacity: 75%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) inset;
}

/* Panels */
.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  border-radius: 25px;
  border: 1px solid rgb(177, 177, 177);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.panel_label {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255, .8);
  border-radius: 25px;
  width: 100%;
  height: 100%;
  font: 200 32px Roboto;
  clip-path: inset(0px 0px 100% 0px);
  transition: clip-path .5s;
}

/* Main Page Content Styles */
main {
  display: flex;
  padding: 100px 70px 70px;
}

h1 {
  margin: 0 0 17px;
  font: 400 24px Roboto;
}

p {
  margin: 0 0 20px;
  text-align: center;
  font: 300 20px Roboto;
}

.border_shadow {
  border-radius: 25px;
  border: 1px solid rgb(177, 177, 177);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.text_center {
  text-align: center;
}

.text_left {
  text-align: start;
}

.info_section {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 50px 40px 30px;
  margin: 50px 0 10px;
  border-radius: 25px;
  border: 1px solid rgb(177, 177, 177);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  max-width: 1000px;
  height: min-content;
}

.flex_row {
  flex-direction: row;
}

.alignitems_center {
  align-items: center;
}

.alignitems_start {
  align-items: start;
}

.profile_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  position: relative;
}

.profile_image {
  background: -30px -115px/107% url(/images/mc2.jpg);
  height: 400px;
  width: 400px;
  border-radius: 100%;
  transition: height .3s, width .3s, background-size .3s, background-position .3s;
}

.profile_image:hover {
  height: 440px;
  width: 440px;
  background: -40px -130px/110% url(/images/mc2.jpg);
}

.profile_note {
  background: center/100% url(/images/me.png);
  height: 100px;
  width: 100px;
  margin-bottom: 100px;
  opacity: 0%;
  transition: opacity .3s;
  position: absolute;
  top: 100px;
  right: 20px;
}

.main_content_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main_left {
  flex: 0.7;
}

.main_right {
  flex: 0.4;
  min-width: 430px;
}

.sub_content_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 70%;
}

.page_button {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 50%, rgba(198,198,198,1) 100%);
  font: 300 18px Roboto;
  color: rgb(65, 65, 65);
  padding: 10px 30px 10px;
  border-radius: 50px;
  border: 1px solid rgba(65, 65, 65, 0.562);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0) inset;
  height: 45px;
  transition: box-shadow .2s, opacity .2s, letter-spacing .2s, height .2s;
}

.page_button_container {
  height: 80px; 
  width: 240px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  align-self: center;
}

.page_button:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .5) inset;
  opacity: 80%;
  letter-spacing: 2px;
  height: 50px;
  cursor: pointer;
}

.page_button:active {
  transition: letter-spacing .3s, height .3s, box-shadow 0s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0) inset;
  color: rgb(161, 161, 161);
  border-color: rgb(161, 161, 161);
  opacity: 80%;
  letter-spacing: 2px;
  height: 50px;
}

.matrix_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 60px;
}

.matrix_cell {
  padding: 20px;
  font: 300 18px Roboto;
  background-color: white;
  width: 300px;
  border-width: 1px;
  border-right-style: solid;
  border-left-style: solid;
  border-color: rgb(177, 177, 177);
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  transition: width .2s, box-shadow .2s;
}

.matrix_cell:first-child {
  border-style: solid;
  border-bottom-style: dashed;
  border-width: 1px;
  border-bottom-width: 2px;
  border-top-right-radius: var(--matrix_border_radius);
  border-top-left-radius: var(--matrix_border_radius);
}

.matrix_cell_header {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.matrix_cell:last-child {
  border-bottom-style: solid;
  border-bottom-right-radius: var(--matrix_border_radius);
  border-bottom-left-radius: var(--matrix_border_radius);
}

.matrix_cell:not(:last-child):not(:first-child) {
  border-bottom-style: dotted;
}

.matrix_cell:not(:first-child):hover {
  width: 330px;
  box-shadow: 0 0 10px rgba(0, 132, 255, 0.7);
  z-index: 10;
  cursor: pointer;
}

.matrix_cell:not(:first-child):active {
  width: 310px;
  box-shadow: 0 0 5px rgba(0, 132, 255, 0.7) inset;
  z-index: 10;
  opacity: 75%;
  transition: width 0s, box-shadow 0s;
}

.widget_width {
  width: 260px;
}

.selectable {
  user-select: text;
  -webkit-user-select: text;
}